*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,main{
    height: 100%;
    width: 100%;
}
:root{
    --bg--primary-color: #1e1d1d;
    --bg--fill--color:rgb(246, 178, 189);
    /* -spacing variables*/
    --space--xs: 4px;
    --space--sm: 8px;
    --space--md: 16px;
    --space--lg: 24px;
    --space--xl: 32px;
    --space--2xl: 40px;
    --space--3xl: 48px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #1e1d1d;
    color: #ffffff;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
section{
    padding: var(--space--2xl);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.infos .info{
    padding: var(--space--sm) var(--space--md);
    border: 1px rgb(223, 218, 218) solid;
    border-radius: 5px;
}
.board{
    border: 1px solid rgb(223, 218, 218);
    flex-grow: 1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}
.block{
    width: 50px;
    height:50px;
    border: 1px solid white;
    border-radius: 35%;  ;
}
.fill{
    background-color: var(--bg--fill--color);
}
.food{
    background-color: green;
}
.modal{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.btn-start,.btn-restart{
    padding: var(--space--sm) var(--space--md);
    border: none;
    border-radius: 5px;
    background-color: var(--bg--fill--color);
    color: #000;
    font-weight: bold;
    cursor: pointer;

}
.btn-start:hover{
    background-color: #6d2c32;
    color: #ffffff;
    transform: scale(1.1);
    background-color: #8a878787;
    transition: .3s ease-in-out;
}
.modal .end-game{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
